@{
    ViewData["Title"] = "Cài đặt nâng cao";
    //Layout = "AdminLayout";
}

<div class="content-wrapper" id="settingAdvanced">
    <h2>Cài đặt nâng cao</h2>
    <p>Nội dung cài đặt nâng cao sẽ hiển thị ở đây...</p>
</div>