@{
    ViewData["Title"] = "Cài đặt chung";
    //Layout = "AdminLayout";
}

<div class="content-wrapper" id="settingGeneral">
    <h2>Cài đặt chung</h2>
    <p>Nội dung cài đặt chung sẽ hiển thị ở đây...</p>
</div>