@{
    ViewData["Title"] = "Quản Lý Bài Viết";
    //Layout = "AdminLayout";
}

<div class="content-wrapper" id="postContent">
    <h1>Quản Lý Bài Viết</h1>
    <p>Nội dung trang quản lý bài viết sẽ hiển thị ở đây...</p>
    @* Thêm code cho CRUD bài viết tại đây *@
</div>