@{
    ViewData["Title"] = "Quản Lý Bài Viết";
}

<div class="content-wrapper" id="postContent">
    <h2>Hòm thư liên hệ</h2>
    <div class="toolbar">
        <input type="text" id="lienhe-search-input" placeholder="Tìm kiếm tin nhắn..." class="search-input">
    </div>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>NGÀY GỬI</th>
                    <th>NGƯỜI GỬI</th>
                    <th>EMAIL</th>
                    <th>TIÊU ĐỀ</th>
                    <th>NỘI DUNG</th>
                    <th>TRẠNG THÁI</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>