<div class="content-wrapper" id="nguyenLieuList">
    <h2>Danh sách nguyên liệu</h2>
    <div class="toolbar">
        <input type="text" id="nguyenlieu-search-input" placeholder="Tìm kiếm nguyên liệu (tên, loại...)" class="search-input">
    </div>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>HÌNH ẢNH</th>
                    <th>TÊN NGUYÊN LIỆU</th>
                    <th>ĐƠN VỊ TÍNH</th>
                    <th>LOẠI</th>
                    <th>SỐ LƯỢNG</th>
                    <th>NGÀY NHẬP</th>
                    <th>THAO TÁC</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span>Số lượng mục</span>
        <select id="nguyenlieu-items-per-page">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
        <div class="pages" id="nguyenlieu-pagination">
        </div>
    </div>
</div>