@model RestaurantManagement.Models.Entities.TaiKhoan // <-- Thêm Model phù hợp
@{
    ViewData["Title"] = "Thêm/Sửa tài khoản";
    //Layout = "AdminLayout";
}

<div class="content-wrapper active" id="staffAddEdit">
    <h2>Thêm/Sửa tài khoản</h2>
    <div class="menu-details">
        <div class="form-group">
            <label for="staff-name">Tên nhân viên (*)</label>
            <input type="text" id="staff-name" placeholder="Đỗ Hoàng Hiếu">
        </div>
        <div class="form-group">
            <label for="staff-name">Email</label>
            <input type="text" id="staff-name" placeholder="abc123@gmail.com">
        </div>
        <div class="form-group">
            <label for="staff-name">Số điện thoại</label>
            <input type="text" id="staff-name" placeholder="0123456789">
        </div>
        <div class="form-group">
            <label for="staff-name">Ngày sinh (*)</label>
            <input type="date" id="dateOfBirth" name="dateOfBirth" required>
        </div>
        <div class="form-group">
            <label for="staff-name">Số CCCD (*)</label>
            <input type="text" id="staff-name" placeholder="1234565667">
        </div>
        <div class="form-group">
            <label for="staff-gender">Giới tính (*)</label>
            <select id="staff-gender">
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="staff-name">Địa chỉ</label>
            <input type="text" id="staff-name" placeholder="Hà Nội">
        </div>
        <div class="form-group">
            <label for="staff-role">Chức vụ (*)</label>
            <select id="staff-role">
                <option>Quản Lý</option>
                <option>Bếp trưởng</option>
                <option>Bếp phó</option>
                <option>Phục vụ</option>
                <option>Thu ngân</option>
                <option>Bảo vệ</option>
            </select>
        </div>
        <button class="btn-primary">Thêm nhân viên</button>
        <button class="btn-warning">Cập nhật thông tin</button>
        <button class="btn-danger">Xóa nhân viên</button>
    </div>
</div>