<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="~/admin/css/admin-login.css">
    <link href="https://db.onlinewebfonts.com/c/1f483bd09c2e0a8024986b03d115f4e3?family=Arian+LT+Demi" rel="stylesheet">
    <script src="~/admin/js/admin-login.js" defer></script>
</head>
<body>
    <div class="login-container">
        @RenderBody();
    </div>

</body>
</html>
