<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/admin/css/admin.css">
</head>
<body>
    <div class="sidebar">
        <h2>Administration</h2>
        <ul>
            <li id="statistics">Thống kê</li>
            <li id="invoices">Hóa đơn</li>
            <li id="tableBooking">Đặt bàn</li>
            <li id="menu">Thực đơn</li>
            <li id="staff">Nhân viên</li>
        </ul>
    </div>

    <div class="main-content">
        @RenderBody();
    </div>
        <script src="~/admin/js/admin.js"></script>
</body>
</html>
